* File used to control the DS.CONFIGNLS command
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* It contains a number of configuration sections headed either:
*         [config_id]
*   or    [#config_id]
*   or    [*include_id]
* Each section has lines like (space-insignificant):
*          key = value[,value]
* The recognized keys are (caseless) : 
*          CCP = client_code_page_number (or codeset for Unix)
*                - should be numeric for Windows, but does not matter
*          MAP = main_map_name[, marks_map_name]
*                - if marks_map_name is omitted, use main_map_name : "+MARKS"
*	   CSM = client_server_map_name
*		 - if client_server_map_name omitted use marks_map_name
*	   CLT = client language_territory
*	   CSL = client_server_locale
*          CON = console_terminal_map
*                - if console_terminal_map omitted use main_map_name
*          LOC = locale_name
*                - only 1 locale_name, used for ALL categories
*          INC = *include_id[, *include_id]
*          LNG = language code [JPN, ENU ....]
*                - only 1 language code.
*          SCH = scheduler_line_for_DSParams.txt
*          ICU = ICU map , ICU locale (for parallel environment)
* 
* A section that is there just so it can be included in other sections is
* distinguished by starting with an asterisk (*). It should only contain 
* MAP and LOC lines. In these cases, the MAP and LOC lines are comma-separated
* lists of map_names and locale_names respectively, that are to be built
* and installed if not already present, in addition to the chosen section's
* named map & locale. 
*
* If a section name starts with a #, then the language that the section
* denotes is not yet supported.
* 
* The special section [*CLIENTS] is available for setting up particular
* entries in the NLS.CLIENT.MAPS files. It is expected to contain lines 
* with keys CCP and MAP, containing an associated set of comma-separated 
* values. For each CCP value for which there is a non-empty asscoiated MAP 
* value a record "WIN:<ccp_value>" will be added to the NLS.CLIENT.MAPS
* file, overwriting any existing entry. 
* (This occurs before any configuration's own CCP line is processed.)
*
* In both the above cases keys may be repeated - the new values are
* simply appended as they are found.
*
* Repeated SCH entries are taken to refer to a set of lines to be added to
* the [scheduler] section of the DSParams.txt file. Part of the line 
* following a second "=" sign may be given as Unicode hex digits if
* if required; for example:
* SCH = XYZ=004100420043            and
* SCH = XYZ=ABC                     are treated the same way.
*
* Any line starting with * or / or ' is treated as a comment.
* Blank lines, and white space within lines, is insignificant.
*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

// Supported configurations, in alphabetic order ==>

[Chinese-Simplified]
CCP = 936
MAP = GB2312, GB2312+MARKS
CSM = MS936-CS
ICU = ASCL_GB2312, OFF
CON = MS936
* Don't know default locale really:
LOC = CN-CHINESE
INC = *STANDARD, *CHINESE

[Chinese-Traditional]
CCP = 950
MAP = BIG5, BIG5+MARKS
CSM = MS950-CS
ICU = ASCL_BIG5, OFF
CON = MS950
* Don't know default locale really:
LOC = TW-CHINESE
INC = *STANDARD, *CHINESE

[#Croatian]
CCP = 1250
MAP = MS1250, MS1250-CS
LOC = HR-CROATIAN
INC = *STANDARD, *EASTERN-EUROPEAN
ICU = ASCL_MS1250, OFF

[#Czech]
CCP = 1250
MAP = MS1250, MS1250-CS
LOC = CZ-CZECH
INC = *STANDARD, *EASTERN-EUROPEAN
ICU = ASCL_MS1250, OFF

[#Danish]
CCP = 1252
MAP = MS1252, MS1252-CS
LOC = DK-DANISH
INC = *STANDARD
ICU = ASCL_MS1252, OFF

[#Dutch]
CCP = 1252
MAP = MS1252, MS1252-CS
LOC = DK-DANISH
INC = *STANDARD
ICU = ASCL_MS1252, OFF

[English]
CCP = WIN:1252, UNX:DEFAULT
CSM = MS1252-CS,ISO8859-1-CS
MAP = ISO8859-1, ISO8859-1+MARKS
ICU = ISO-8859-1, OFF
CON = PC850
* Don't know default locale really:
LOC = US-ENGLISH
INC = *STANDARD
LNG = ENU

[#Faeroese]
CCP = 1252
MAP = MS1252, MS1252-CS
LOC = FO-FAEROESE
INC = *STANDARD
ICU = ASCL_MS1252, OFF

[#Finnish]
CCP = 1252
MAP = MS1252, MS1252-CS
LOC = FI-FINNISH
INC = *STANDARD
ICU = ASCL_MS1252, OFF

[#French]
CCP = 1252
MAP = MS1252, MS1252-CS
* Don't know default locale really:
LOC = FR-FRENCH
INC = *STANDARD, *FRENCH
ICU = ASCL_MS1252, OFF

[#German]
CCP = 1252
MAP = MS1252, MS1252-CS
* Don't know default locale really:
LOC = DE-GERMAN
INC = *STANDARD, *GERMAN
ICU = ASCL_MS1252, OFF

[#Hebrew]
CCP = 1255
MAP = ISO8859-8, ISO8859-8+MARKS
CSM = MS1255-CS
ICU = ISO8859-8, OFF
* Default locale set for English (Hebrew variant also available)
LOC = IL-ENGLISH
INC = *STANDARD, *HEBREW

[#Hungarian]
CCP = 1250
MAP = MS1250, MS1250-CS
LOC = HU-HUNGARIAN
INC = *STANDARD, *EASTERN-EUROPEAN
ICU = ASCL_MS1250, OFF

[#Icelandic]
CCP = 1252
MAP = MS1252, MS1252-CS
LOC = IS-ICELANDIC
INC = *STANDARD
ICU = ASCL_MS1252, OFF

[#Italian]
CCP = 1252
MAP = MS1252, MS1252-CS
* Don't know default locale really:
LOC = IT-ITALIAN
INC = *STANDARD, *ITALIAN
ICU = ASCL_MS1252, OFF

[#Japanese-EUC]
CCP = WIN:932, UNX:DEFAULT
CSM = MS932-CS,JIS-EUC+-CS
MAP = JIS-EUC+, JIS-EUC++MARKS
ICU = ASCL_JIS-EUC-P, OFF
CON = MS932
LOC = JP-JAPANESE
INC = *STANDARD, *JAPANESE
LNG=JPN

[Japanese-SJIS]
CCP = WIN:932, UNX:DEFAULT
CSM = MS932-CS,SHIFT-JIS-CS
MAP = SHIFT-JIS, SHIFT-JIS+MARKS
ICU = Shift_JIS, OFF
CON = MS932
LOC = JP-JAPANESE
INC = *STANDARD, *JAPANESE
LNG=JPN

[#Japanese]
CCP = WIN:932, UNX:DEFAULT
CSM = MS932-CS,SHIFT-JIS-CS
MAP = MS932, MS932-CS
ICU = Shift_JIS, OFF
CON = MS932
LOC = JP-JAPANESE
INC = *STANDARD, *JAPANESE
LNG=JPN

[Korean]
CCP = 949
MAP = KSC5601, KSC5601+MARKS
CSM = MS949-CS
ICU = ASCL_KSC5601, OFF
LOC = KR-KOREAN
INC = *STANDARD, *KOREAN

[#Norwegian]
CCP = 1252
MAP = MS1252, MS1252-CS
LOC = NO-NORWEGIAN
INC = *STANDARD
ICU = ASCL_MS1252, OFF

[#Polish]
CCP = 1250
MAP = MS1250, MS1250-CS
LOC = PL-POLISH
INC = *STANDARD, *EASTERN-EUROPEAN
ICU = ASCL_MS1250, OFF

[#Portuguese]
CCP = 1252
MAP = MS1252, MS1252-CS
* Don't know default locale really:
LOC = PT-PORTUGUESE
INC = *STANDARD, *PORTUGUESE
ICU = ASCL_MS1252, OFF

[#Romanian]
CCP = 1250
MAP = MS1250, MS1250-CS
LOC = RO-ROMANIAN
INC = *STANDARD, *EASTERN-EUROPEAN
ICU = ASCL_MS1250, OFF

[#Russian]
CCP = 1251
MAP = MS1251, MS1251-CS
LOC = RU-RUSSIAN
INC = *STANDARD, *CYRILLIC
ICU = ASCL_MS1251, OFF

[#Slovenian]
CCP = 1250
MAP = MS1250, MS1250-CS
LOC = SI-SLOVENIAN
INC = *STANDARD, *EASTERN-EUROPEAN
ICU = ASCL_MS1250, OFF

[#Spanish]
CCP = 1252
MAP = MS1252, MS1252-CS
* Don't know default locale really:
LOC = ES-SPANISH
INC = *STANDARD, *SPANISH
ICU = ASCL_MS1252, OFF

[#Swedish]
CCP = 1252
MAP = MS1252, MS1252-CS
LOC = SE-SWEDISH
INC = *STANDARD, *EASTERN-EUROPEAN
ICU = ASCL_MS1252, OFF

[Thai]
CCP = 874
MAP = TIS620, TIS620+MARKS
CSM = PC874-CS
ICU = ASCL_TIS620, OFF
LOC = TH-THAI
INC = *STANDARD, *THAI

// Special include sections ==>

[*CLIENTS]
// additional maps to be used for clients using specified code pages or locales
// (not used at present)

[*STANDARD]
// Every configuration wants these - includes all English variant locales.
MAP = ASCII, ASCII+MARKS
MAP = ISO8859-1, ISO8859-1+MARKS
MAP = MS1252, MS1252-CS
MAP = MS1252+MARKS
MAP = PC437, PC850
LOC = AU-ENGLISH, CA-ENGLISH, GB-ENGLISH, IE-ENGLISH
LOC = NZ-ENGLISH, US-ENGLISH, ZA-ENGLISH 
// These entries added so that English WinNT & Unix clients can always connect
//   client code page => cs map
CCP = WIN:1252,  UNX:646,      UNX:ISO8859-1, UNX:ISO8859-15
CSM = MS1252-CS, ISO8859-1-CS, ISO8859-1-CS,  ISO8859-15-CS
//   client lang_terr => cs locale
CLT = UNX:en_GB,  UNX:en_US
CSL = GB-ENGLISH, US-ENGLISH

// Other include sections, in alphabetic order ==>

[*CHINESE]
// Set of commonly-useful double-byte maps
// & locales  for Chinese-based languages.
MAP = GB2312, GB2312+MARKS
MAP = BIG5, BIG5+MARKS
MAP = MS936, MS936-CS
MAP = MS950, MS950-CS
LOC = CN-CHINESE, TW-CHINESE

[*CYRILLIC]
// Set of commonly-useful single-byte maps
// & locales  for Cyrillic-based languages that use Latin-5-style set.
MAP = ISO8859-5, KOI8-R, PC855, PC866
LOC = BG-BULGARIAN, RU-RUSSIAN

[*EASTERN-EUROPEAN]
// Set of commonly-useful single-byte maps 
// for "Eastern European" languages using Latin-2-style set.
MAP = MS1250, MS1250-CS
MAP = ISO8859-2, PC852

[*FRENCH]
// Set of commonly-useful French locales
LOC = BE-FRENCH, CA-FRENCH, CH-FRENCH, FR-FRENCH

[*GERMAN]
// Set of commonly-useful single-byte maps, including Latin-2
// style, & locales for German
MAP = MS1250, MS1250-CS
MAP = ISO8859-2, PC852
LOC = AT-GERMAN, BE-GERMAN, CH-GERMAN, DE-GERMAN

[*HEBREW]
// Set of commonly-usefual Hebrew/Israel locales
LOC = IL-HEBREW

[*ITALIAN]
// Set of commonly-useful Italian locales
LOC = CH-ITALIAN, IT-ITALIAN

[*JAPANESE]
// Set of commonly-useful double-byte maps for Japanese users.
MAP = SHIFT-JIS, SHIFT-JIS+MARKS, TAU-SHIFT-JIS, PRIME-SHIFT-JIS
MAP = JIS-EUC, JIS-EUC+
MAP = MS932
// Set of commonly-useful single-byte maps for Japanese users.
MAP = PC1041, JPN-EUC-ONE, JPN-EUC-KAT
// Double-byte Japanese maps for SISO usage
MAP = JPN-IBM78, JPN-IBM83
MAP = JPN-JEF78, JPN-JEF83
MAP = JPN-JIPSE, JPN-JIPSJ
MAP = JPN-KEIS78, JPN-KEIS83
// Alternate shift-JIS map
MAP = JPN-SJIS
// Single-byte Japanese maps for SISO usage
MAP = JPN-EBCDIC, JPN-EBCDIK, JPN-NEBCDIK, JPN-JIS8
// Japanese SISO maps
MAP = JPN-EBCDIC-IBM78, JPN-EBCDIC-IBM78-SEC, JPN-EBCDIK-IBM78, JPN-EBCDIK-IBM78-SEC
MAP = JPN-EBCDIC-IBM83, JPN-EBCDIC-IBM83-SEC, JPN-EBCDIK-IBM83, JPN-EBCDIK-IBM83-SEC
MAP = JPN-EBCDIC-JEF78, JPN-EBCDIC-JEF78-SEC, JPN-EBCDIK-JEF78, JPN-EBCDIK-JEF78-SEC
MAP = JPN-EBCDIC-JEF83, JPN-EBCDIC-JEF83-SEC, JPN-EBCDIK-JEF83, JPN-EBCDIK-JEF83-SEC
MAP = JPN-NEBCDIK-JIPSE, JPN-NEBCDIK-JIPSE-SEC, JPN-JIS8-JIPSJ, JPN-JIS8-JIPSJ-SEC
MAP = JPN-EBCDIC-KEIS78, JPN-EBCDIC-KEIS78-SEC, JPN-EBCDIK-KEIS78, JPN-EBCDIK-KEIS78-SEC
MAP = JPN-EBCDIC-KEIS83, JPN-EBCDIC-KEIS83-SEC, JPN-EBCDIK-KEIS83, JPN-EBCDIK-KEIS83-SEC
// Locale providing alternate shift-JIS collation 
LOC = JP-JPN-JAPANESE
// These entries added so that Japanese WinNT & Unix clients can connect
//   client code page => cs map
CCP = WIN:932,  UNX:eucJP,   UNX:eucjp,   UNX:EUC-JP,  UNX:IBM-932, UNX:IBM-943, UNX:PCK,      UNX:SJIS
CSM = MS932-CS, JIS-EUC+-CS, JIS-EUC+-CS, JIS-EUC+-CS, MS932-CS,    MS932-CS,    SHIFT-JIS-CS, SHIFT-JIS-CS
CLT = UNX:ja_JP
CSL = JP-JAPANESE

[*KOREAN]
// Set of commonly-useful double-byte maps for Korean users.
MAP = KSC5601
MAP = KSC5601-1992
MAP = MS949
// Set of commonly-useful single-byte maps for Korean users.
MAP = PC1040
	
[*PORTUGUESE]
// Set of commonly-useful Portuguese locales
LOC = BR-PORTUGUESE, PT-PORTUGUESE
	
[*SPANISH]
// Set of commonly-useful Spanish locales
LOC = AR-SPANISH, BO-SPANISH, CL-SPANISH, CR-SPANISH, DO-SPANISH, EC-SPANISH
LOC = ES-SPANISH
LOC = EV-SPANISH, GT-SPANISH, HN-SPANISH, MX-SPANISH, PA-SPANISH, PE-SPANISH
LOC = UY-SPANISH, VE-SPANISH

[*THAI]
// Set of commonly-useful single-byte maps for Thai users
MAP = TIS620, TIS620+MARKS
MAP = PC874, PC874-CS
	
