IDES_DBConn=SFA
IDES_User=fscdsid
IDES_Password=N57ZmU43
SC_DBConn=SALECONN
SC_User=dsuser
SC_Password=C8W8YE1I
IST_DBConn=ISTDB
IST_User=csiuser
IST_Password=FzgWUFP1
CISF_DBConn=EUSIDB2B
CISF_User=SCADMINS
CISF_Password=m2F74455
IDESAM_DBConn=IDESAM
IDESAM_User=fscdsid
IDESAM_Password=N57ZmU43
Datastage_Project=DI_DatastageDefault
Datastage_User=diwasetl
ODS_DBConn=SCIWSTG
ODS_User=scdsods@us.ibm.com
ODS_Password=Am@zo5in
IDM_DBConn=MDMPRDDB
IDM_User=saleconn
IDM_Password=P2L97812
IDM_Schema_Var=MDMUSER1
TOP_DBConn=ISMTODS
TOP_User=scismid
TOP_Password=A1rtel4g
email_id_82457='magnoan@ph.ibm.com,bautisjo@ph.ibm.com,moraleri@ph.ibm.com,dieza@ph.ibm.com,joseas@mx1.ibm.com,barreto@mx1.ibm.com,Manuel.Velasco@ibm.com,whittebe@us.ibm.com,kartnair@in.ibm.com,jacky.liu@cn.ibm.com,kashyap.alok@in.ibm.com'  
timeDiff_82457=4
RDC_DBConn=MAINSHAD	
RDC_User=sctordc 
RDC_Password=bZ9jpZiz
CMDW_DBConn=CMDW
CMDW_User=htfang@cn.ibm.com
CMDW_Password=fangbgt5
